<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>登陆</title>
    <link href="/static/jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/jquery/jquery-1.11.1-min.js"></script>
    <script type="text/javascript" src="/static/jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
</head>
<body>

<div>

    <a href="/api/ucenter/wx/login"><span>微信扫码登陆===============></span></a>

    <!-- 放置二维码的div -->
    <div id="login_container"></div>
</div>
</body>
</html>